<% include ../partials/header %>
<div class="bg-light">
  <div class="container">
    <div class="pt-4">
      <h1 class="text-center display-4" style="font-size: 1.75em;">Songs by title</h1>
    </div>

    <% include ../partials/search %>
    <div class="search-query p-3 text-center">
      <% if(typeof searchVal !== 'undefined' && songs.length){ %>
        <h3>Songs titles containing &lsquo;<%= searchVal %>&rsquo;:</h3>
      <% } else if(typeof searchVal !== 'undefined') { %>
        <h3>No songs match your search for &lsquo;<%= searchVal %>&rsquo;</h3>
        <a href="/songs/add" class="btn btn-primary btn-lg">Add this song <i class="fa fa-plus-circle ml-2"></i></a>
      <% } %>
    </div>
    <div class="song-list">
      <ul class="list-group">
        <% songs.forEach(function(song){ %>
          <li class="list-group-item">
            <div class="row align-items-center">
              <div class="col-7">
                <a href="/songs/<%= song._id %>"><%= song.title %><em class="text-secondary" style="font-size: 0.75em; display: block;"><%= song.author %></em></a>
              </div>
              <div class="col-5 text-right">
                <% if(song.lyrics.length){ %>
                <a href="/songs/<%= song._id %>/present" class="btn btn-sm btn-outline-secondary text-secondary"><i class="fa fa-play mr-2"></i> Slideshow</a>
                <% } %>
              </div>
            </div>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
<% include ../partials/footer %>
